@media screen and (max-width: 1025px){
    
    body {
        grid-template-columns: 170px 1fr;
    }
    



    /* Navigation Bar */
    nav {
        height: 6vh;
        width: 100vw;
    }

    nav a {
        font-size: 1.8vw;
        padding: 2.7vh 2vw;
        flex-shrink: 0;
    }

    nav img {
        min-width: 160px;
        max-width: 250px;
        max-height: auto;
    }

    nav li a::after {
        bottom: 20px;
    }

    #download {
        margin-right: 2vw;
        margin-left: auto;
        padding: 1vh 1.5vw;
    }




    /* Header section */
    header {
        padding: 5%;
        font-size: 90%;
        box-shadow: inset 3em 3em 5em 12em black, inset 5em 5em 5em 25em rgba(0, 0, 0, 0.701);
    }

    
    
    
    /* Headings */
    h2 {
        font-size: 2.3rem;
    }

    main h3 {
        font-size: 2rem;
        text-align: center;
    }

    aside h3 {
        font-size: 2.85rem;
    }

    footer h4 {
        font-size: 1.1rem;
    }

    
    
    
    /* Main section */
    main p, main blockquote {
        font-size: 1rem;
    }

    main li {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    main iframe {
        max-width: 90%;
        max-height: 35vh;

    }

    main img {
        max-width: 45vw;
    }

    main dl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 25vw;
    }

    .element dt {
        font-size: 1rem;
    }

    .element dd {
        font-size: 0.8rem;
    }

    .gallery {
        max-width: 35vw;
        gap: 27%;
    }

    .gallery div {
        grid-gap: 20px;
        padding: 30px;
    }

    .gallery div img{
        min-height: auto;
        width: 25vw;
    }

    
    
    
    /* Aside section */
    aside {
        width: 170px;
    }

    .scrollbox {
        width: 115%;
        margin-top: -15%;
    }

    .scrollbox-inner a {
        
        font-size: 1.1rem;
    }

    .scrollbox-inner img {
        max-width: 100%;
        max-height: 40%;
    }

    
    
    
    /* Footer section */
    #footerContent {
        margin: 3% 5%;
    }
    
    footer a {
        font-size: 0.8rem;
    }

    footer li{
        margin-left: -35%;
    }

    footer p {
        font-size: 0.7rem;
    }

    footer img {
        max-width: auto;
        max-height: 8vw;
    }

    #textInput {
        width: 120%;
    }

    ::placeholder {
        font-size: 0.75rem;
    }

    #submit {
        padding: 5px 4.3vw;
        font-size: 1.25rem;
    }
}
    
